@media screen and (max-width:425px){

    .nav-container, .nav-logo {
        flex-direction: column;
    }
    .nav-items{
        width: 100%;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-right: 50px;

    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
        padding: 50px;
    
    
    
    }
    .banner-image{
        width: 100%;
        padding: 50px;
    
       
       
    }
    button{
        margin-right: 0;
    }
    .online-games-item{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .online-games-item p{
        text-align:start ;
      padding: 0 50px;
    
      }

      .online-games-container p{
        padding: 0 30px;
        font-size: 14px;
      }

.online-games-container h2{
    font-size: 25px;
}
.play-games-container{
    flex-direction: column-reverse;

}
.play-games-content{
    width: 100%;
    margin-left: 150px;
  }
  .button-container{
    flex-direction: column;


  }
  .btn-games{
    width: 30%;
    font-size: 16px;
  }

  .footer-container{
    width: 300px;
  }
footer{
    display: none;
}

}

@media screen and (min-width:426) and ( max-width:768px){

    .nav-container, .nav-logo {
        flex-direction: column;
    }
    .nav-items{
        width: 100%;
        /* flex-direction: column; */
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-right: 50px;

    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        width: 100%;
   text-align: center;
  
  
    
    
    
    }
    .banner-image{
        width: 80%;
        padding: 50px;
    
       
       
    }

    .online-games-item{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .online-games-item p{
        text-align:start ;
      padding: 0 50px;
    
      }

      .online-games-container p{
        padding: 0 30px;
        font-size: 14px;
      }

.online-games-container h2{
    font-size: 25px;
}
 
.play-games-container{
    flex-direction: column-reverse;

}
}
