@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* nav section  */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {

  display: flex;
  min-height: 50px;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}
/* nav logo  */
.nav-logo {
 
  display: flex;
  width: 50%;
  align-items: center;
}
.nav-logo img {
  width: 85px;
  height: 40px;

  margin-right: 15px;
}
.nav-logo p {
    font-size: 40px;
    font-weight: 700;
  }
span.letter {
  color: #ff42a5;
}

/* nav items  */

.nav-items {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
.nav-items a {
  text-decoration: none;
  margin-left: 50px;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.login-item {
  padding: 10px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
}
.fa-youtube {
  color: #f61c0d;
}

/* banner section  */
.banner-container{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 10px auto;
    gap: 50px;

}
.banner-content{
    width: 50%;



}
.banner-image{
    width: 50%;

   
    /* align-items: end; */
}
.banner-image img{
    width: 100%;
    height: 100%;
  
 
 
}
.banner-content h2{
    color:#0B0223;
    font-size: 40px;
    font-weight: 600px;
    text-transform: uppercase;

}
.banner-content h1{
font-size: 80px;
font-weight: 800px;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-content p{
    color:#534C64;
    font-size: 18px;
    font-weight: 500px;

}
button{
    padding: 21px 40px;
    background-color: #F948B2;
    color: #fff;
    border-radius: 40px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 20px;
}
.btn-2{
    background-color: #4EC5F7;
}
/* online games section  */
.online-games-container{
  max-width: 1400px;
  margin: 100px auto;
}
.online-games-container h2{
  text-align: center;
  margin: 10px 0;
  font-size: 40px;
}
.online-games-container p{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;

}

.online-games-item{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.online-games-item p{
  text-align:start ;
}
.online-games-item .overlay:hover{
  opacity: 0.5;
  
}



/* play games section  */
.play-games-container{
  max-width: 1400px;
  margin: 100px auto;


  display: flex;
  align-items: center;

}
.play-games-image{
  position: relative;
  width: 70%;
}

.play-games-image div img{
  position: absolute;
  top: 390px;
  left: 500px;
}
.play-games-content{
  width: 30%;
}
/* button games  */

.button-container{
margin: 150px auto 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
max-width:1400;
height: 375px;




}

.btn-games{
  width: 20%;
  background-color: #fff;
  margin-bottom: 50px;
  color: #0B0223;;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-games:hover{
border: 2px solid #F948B2 ;
color: #F948B2 ;
border-radius: 40px;
padding: 5px;
background-color: transparent;
}


























/* footer section  */
.footer-container{

 margin: 20px auto;
  max-width: 1400px;
  height: 650px;
  background-color: #0B0223;
  padding: 60px;

}
.footer-links{
  display: flex;
  justify-content: center;
  align-items:center ;
  gap: 60px;
  margin-bottom: 50px;


}
.footer-links a{
  color: #fff;
  font-size: 18px;
}
.footer-links2 a{
 color:rgba(255, 255, 255, 0.60);
  font-size: 18px;

}

.footer-icon{
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items:center ;
  gap: 50px;
  margin-top: 20px;
}
.footer-links2{
  display: flex;
  justify-content: center;
  align-items:center ;
  gap: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-logo{

display: flex;
justify-content: center;
align-items: center;
font-size: 40px;
gap: 10px;
margin-top: 100px;
margin-bottom: 50px;

 

}
.footer-logo p{
  color: #fff;
}


.footer-container .footer-last-para{
  text-align: center;
  font-size: 16px;
  margin-bottom: 100px;
  color:rgba(255, 255, 255, 0.60);
}


